<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
    <title>ShelterDeen | About</title>
    <style> /* Stylesheet */
/* Style of background */
      body{
        background-image: url(https://drive.google.com/uc?export=view&id=1E0lX9ra1qC71t3Czx03px4NEqV5p5KwA);
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      p{
        color: white;
        text-align: center;
      }

  </style>
  </head>

  <body>
  <!-- Navigation Bar -->
      <div class="navbar">
        <a href="../">Home</a>
        <a href="../about">About</a>
        <a href="../contact">Contact us</a>
      </div>

  <!-- HEADER -->
    <h1> ShelterDeen </h1>
    <p> Hej! We're Louise and Sanni and we created this website to help you find a shelter if you find yourself or someone else in urgent need of shelter. </p>
    <img src="https://drive.google.com/uc?export=view&id=1XPsgP1OI8kx2l_PFUEe46rJAdidK1IQp" alt="Sanni & Louise" class="center" style="float:auto;width:30%;height:15%;">

    <!-- email-link at the bottom-left of the page -->
    <p id=email><a href="mailto:info@shelterdeen.com" target="_blank">info@shelterdeen.com</a></p>

  </body>

</html>
