<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
    <title>ShelterDeen</title>
    <style>
      body{
        background-image: url(https://drive.google.com/uc?export=view&id=1E0lX9ra1qC71t3Czx03px4NEqV5p5KwA);
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
      }
    </style>
  </head>

  <!-- Navigation Bar -->
    <div class="navbar">
      <a href="./">Home</a>
      <a href="./about">About</a>
      <a href="./contact">Contact us</a>
    </div>

  <!-- HEADER -->
    <h1> ShelterDeen </h1>

  <!-- MAIN -->
  <body>

    <div id=find>
    <a href="./find-shelter">FIND SHELTER</a> <!-- redirects to the find-page -->
    </div>

    <div id=submit>
    <p><a href="./submit-shelter">CONTRIBUTE</a> <!-- Redirects to the contribute-page -->
    </div>

    <!-- email-link at the bottom-left of the page -->
    <p id=email><a href="mailto:info@shelterdeen.com" target="_blank">info@shelterdeen.com</a></p>

  </body>

</html>
